body {
    background-color: aquamarine; 
    color:red;
}

h2 {
    color: green;
}

form.feedback {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    color: coral;
    margin-top: 150px;
}